src/main/resources/orders.wsdl

<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://ws.cemiseguranca.cms.hpe.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="IntegracaoService" targetNamespace="http://ws.cemiseguranca.cms.hpe.com/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://ws.cemiseguranca.cms.hpe.com/" elementFormDefault="unqualified" targetNamespace="http://ws.cemiseguranca.cms.hpe.com/" version="1.0">

  <xs:element name="orderValidation" type="tns:orderValidation"/>

  <xs:element name="orderProcessing" type="tns:orderProcessing"/>

  <xs:complexType name="orderValidation">
    <xs:sequence>
      <xs:element minOccurs="0" name="code" type="xs:string"/>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
      <xs:element minOccurs="0" name="description" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="orderProcessing">
    <xs:sequence>
      <xs:element minOccurs="0" name="code" type="xs:string"/>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
      <xs:element minOccurs="0" name="description" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="orderProcessing">
    <wsdl:part element="tns:orderProcessing" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="orderValidation">
    <wsdl:part element="tns:orderValidation" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="CelularLegal">
    <wsdl:operation name="orderValidation">
      <wsdl:input message="tns:orderValidation" name="orderValidation">
    </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="orderProcessing">
      <wsdl:input message="tns:orderProcessing" name="orderProcessing">
    </wsdl:input>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="IntegracaoServiceSoapBinding" type="tns:CelularLegal">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="orderValidation">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="orderValidation">
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="orderProcessing">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="orderProcessing">
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="IntegracaoService">
    <wsdl:port binding="tns:IntegracaoServiceSoapBinding" name="IntegracaoPort">
      <soap:address location="https://cemissp.com.br/cemiseguranca/Integracao"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>